@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    width: 100%;
    height: 100vh;
  }
}

@custom-variant landscape-low {
  @media (orientation: landscape) and (max-height: 500px) {
    @slot;
  }
}
